*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  min-height: 100%;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: rgba(207, 80, 80, 0.973);
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.squares {
  display: flex;
  border: 1px solid rgb(43, 97, 43);
  width: 25px;
  height: 25px;
}

.squares:hover {
  background-color: #fff;
}
