*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  background: #b5d3eda1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", monospace;
  font-size: 1em;
}

.title {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  border-bottom: 2px solid black;
}

#container {
  width: 510px;
  height: 510px;
  display: grid;
  border: 1px solid black;
}

.squares {
  border: 0.1px solid rgba(5, 5, 5, 0.062);
}
.gridDimension {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
  width: 430px;
}

/* slider styling  */
input[type="range"] {
  -webkit-appearance: none;
  margin: 15px 0;
  width: 50%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: #366792bd;
  border-radius: 1.3px;
}
/* # chrome  */
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 18px;
  background: #366792f5;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #366792bd;
}
/* # firefox  */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: #366792bd;
}
/* * # firefox   */
input[type="range"]::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 18px;
  border-radius: 1px;
  background: #366792f5;
  cursor: pointer;
}

.options {
  display: flex;
  margin-right: 40px;
  flex-wrap: wrap;
  flex-direction: column;
  height: 510px;
  justify-content: space-between;
}

.buttons {
  display: flex;

  margin: 10px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

button {
  color: #000000c4;
  font-size: 1em;
  width: 150px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #000000c4;
  outline: none;
  padding: 1em 1.5em;
  margin: auto;
}
.slider-section {
  text-align: center;
}
.choices {
  text-align: center;
}
#picker {
  width: 100px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #000000c4;
  outline: none;
  padding: 1em 1.5em;
  margin: 0.5em 0.5em;
}

button:hover {
  background-color: #00000061;
  transition: 0.7s;
  color: black;
}

.links {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

img {
  width: 35px;
  height: 35px;
}

.github-icon:hover,
.code-icon:hover {
  opacity: 0.5;
}

@media screen {
  /* maybe never 30/06/23  */
}
