*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
}
body {
  background: cornflowerblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  box-shadow: rgb(0, 0, 0) 0px 3px 8px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.squares {
  border: 1px solid#000000c4;
  width: 25px;
  height: 25px;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

button {
  color: #000000c4;
  font-size: 20px;
  margin: 1em 0.8em;
  width: 250px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #000000c4;
  box-shadow: rgb(7, 7, 7) 0px 3px 8px;
  outline: none;
  padding: 1em 1.5em;
}
button:hover {
  background-color: black;
  transition: 0.7s;
  color: whitesmoke;
}

#erase:hover {
  background: transparent;
}
